@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color:  hsl(204, 43%, 93%);
}

.section1{
    width: 500px;
    height: 150px;
    background-color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

h3{
    color:hsl(179, 62%, 43%);
}

.p_sub_heading{
    color: hsl(71, 73%, 54%);
    font-weight: bold;
    line-height: 3;
}

.p_content_section1{
    font-size: 13px;
    color: hsl(218, 22%, 67%);
    
}

.in_section{
    font-family: 'karla';
    padding: 30px;
}

.section2{
    width: 250px;
    height: 200px;
    background-color: hsl(179, 63%, 39%);
    border-bottom-left-radius: 8px;
}
h4{
    color: white;
}

.p_dollar{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    line-height: 2;
}

sup{
    color: hsl(198, 10%, 81%);
    font-size: 13px;
    font-weight: normal;
}

.p_fullaccess{
    color: hsl(200, 75%, 97%);
    font-size: 15px;
    padding-bottom: 20px;
}

button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    min-width: 28vh;
    height: 36px;
    color: white;
    padding-bottom: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 3px;
}

.section3{
    width: 250px;
    height: 200px;
    background-color: hsl(179, 60%, 58%);
    border-bottom-right-radius: 8px;
}

.p_tutorial{
    color: hsl(204, 43%, 93%);
    font-size: small;
    padding-top: 15px;
    line-height: 1.1;
}
.row{
    display: flex;
}

.container{
    width: 600px;
    border-radius: 10px;
    margin: auto;
    
}

.central_container{
    margin: auto;
    padding-top: 130px;
    padding-left: 100px;
 
}